<div class="container">
    <section class="main">
        <h1>Test Page</h1>
        <form class="form" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <label for="name"> Name: </label>
            <input type="text" id="name" formControlName="name" />

            <label for="phone"> Phone: </label>
            <input type="tel" id="phone" formControlName="phone" />

            <label for="sentence"> Sentence: </label>
            <app-opening-sentence formControlName="sentence" />

            <button type="submit">Submit</button>
        </form>
    </section>
    <aside class="cta">
        <p>
            Unlock the Power of Conversation with NLPearl and Transform Your
            Business Interactions
        </p>
    </aside>
</div>


