<div class="editable-container">
    <div
        contenteditable="true"
        [innerHTML]="sentence"
        (input)="onSentenceChange($event)"
        (blur)="onBlur()"
        class="editable"
    ></div>
    <hr />
    <div class="buttons">
        <button type="button" (click)="insertPlaceholder('Agent Name')">
            Agent Name
        </button>
        <button type="button" (click)="insertPlaceholder('Company Name')">
            Company Name
        </button>
        <button type="button" (click)="insertPlaceholder('First Name')">
            First Name
        </button>
        <button type="button" (click)="insertPlaceholder('Last Name')">
            Last Name
        </button>
    </div>
</div>
